<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage6.master.cs" Inherits="MasterPage6" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        #maindiv {
            height: 465px;
        }
        #header {
            height: 188px;
            
        }
        .auto-style6 {
            width: 100%;
        }
        .auto-style7 {
            height: 76px;
        }
        .auto-style9 {
            height: 111px;
            width: 285px;
        }
        #TextBox1{
            border-bottom-left-radius:10px;
            border-top-left-radius:10px;
            width: 551px;
            margin-left: 0px;
            height:29px;
        }
        #b2{
            border-bottom-right-radius:10px;
            border-top-right-radius:10px;
            width:50px;
            height:35px;
            border-style:hidden;
            outline:hidden;
            border-style:hidden;
        }
        .auto-style11 {
            height: 111px;
            width: 112px;
        }
        .b{
            border:hidden;
            background-color:#006600;
            font-size:large;
        }
        .auto-style12 {
            height: 111px;
        }
        #footer {
            height: 259px;
        }
        .auto-style13 {
            width: 704px;
        }
        </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="maindiv">
            <div id ="header" style="background-color: #006600">

                <table class="auto-style6">
                    <tr>
                        <td class="auto-style9" style="background-image: none; "></td>
                        <td class="auto-style13" style="background-position: center center; text-align: center; background-image: url('/photo/LOGO.png'); background-repeat: no-repeat; ">
                              
                        </td>
                        <td class="auto-style11" style="text-align: center">
                            
                            
                            </td>
                        <td class="auto-style12" style="text-align: center">
                            
                            
                        </td>
                    </tr>
                    <tr>
                        <td class="auto-style7" colspan="2">
                  
                            
                    
                            <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" BackColor="#006600" Width="98%" Font-Names="Times New Roman" Font-Size="Large"  >
                                <Items>
                                    <asp:MenuItem Text="Home" Value="Home" NavigateUrl="~/home2_m2.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text=" Order Now" Value=" Order Medicines" NavigateUrl="~/Order_Medicine_m3.aspx"></asp:MenuItem>
                                    <asp:MenuItem Text="Upload Prescription" Value="Medicine donor" NavigateUrl="~/order_prescription.aspx"></asp:MenuItem>
                                </Items>
                                <StaticHoverStyle BorderStyle="None" />
                                <StaticMenuItemStyle BackColor="#006600" Font-Size="Large" ForeColor="White" Height="40px" HorizontalPadding="40px" ItemSpacing="30px" />
                            </asp:Menu>
                  
                            
                  
                        </td>
                        
                        <td class="auto-style7" style="text-align: center">
                  
                            
                    
                           
                        </td>
                        
                        <td class="auto-style7" style="text-align: center">
                  
                            
                    
                           
                        </td>
                        
                    </tr>
                </table>

            </div>
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
            </div>
    </form>
</body>
</html>
